<?xml version="1.0"?>
<robot name="arm_vacuum" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="arm_vacuum" params="prefix">
    <link name="${prefix}vacuum_gripper">
    <gravity>0</gravity>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.01"/>
      </geometry>
      <material name="transparent">
        <color rgba="0 0 0 0"/>
      </material>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0.00 0.00 0.00"/>
      <mass value="0.0001"/>
      <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
    </inertial>
  </link>
  <joint name="gripper_joint" type="revolute">
    <axis xyz="1 0 0" />
    <parent link="${prefix}ee_link" />
    <child link="${prefix}vacuum_gripper" />
    <origin rpy="0 1.5708 0" xyz="0.01 0.0125 0" />
    <limit effort="50" velocity="50" lower="0" upper="0" />
    <dynamics damping="0.0" friction="10"/>
  </joint>
  <gazebo>
    <plugin name="gazebo_ros_vacuum_gripper" filename="libgazebo_ros_vacuum_gripper.so">
      <robotNamespace>/ur5/vacuum_gripper</robotNamespace>
      <bodyName>vacuum_gripper</bodyName>
      <topicName>grasping</topicName>
	<maxForce>50</maxForce>
      <maxDistance>0.05</maxDistance>
      <minDistance>0.01</minDistance>
    </plugin>
  </gazebo>

</xacro:macro>
</robot>

